<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Puzzle Messenger</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/style.css}" rel="stylesheet"></link>
</head>
<body>
    <div id="page">
        <div id="main-body">
            <h1>Puzzle Messenger</h1>

            <h2>Welcome to Puzzle Messenger!</h2>
            <h2>Enter a message below to generate a shareable word-scramble puzzle.</h2>

            <div id="#form-div">
                <form th:action="@{/puzzle}" th:object="${puzzle}" method="post">
                    <p>Message: <input type="text" name="message" th:value="${message}" /></p>
                    <p> <input id="generate" type="submit" value="Generate Puzzle" /> </p>
                </form>
            </div>
            <div id="null-message"></div>
        </div>

        <div class="footer">
            <p> made by Summer Rowell &emsp; <a href="https://www.linkedin.com/in/ksrowell/"> <img src=".\images\LI-In-Bug.png" alt="LinkedIn" style="width: 39px; height: 33px;"> </a> </p>
        </div>
    </div>
</body>
</html>
