<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Puzzle Messenger</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/style.css}" rel="stylesheet">
    </link>

</head>

<body>
    <div id="page">
        <div id="main-body">
            <h1>Puzzle Messenger</h1>
            <h2>Move the blue blocks to the blank spaces to solve your personalized puzzle!</h2>
            <input type="hidden" id="secretMessage" th:value="${puzzle.message}" />
            <canvas class="myCanvas"></canvas>
            <div id="finalMessage"></div>
            <script th:src="@{/js/puzzle.js}"></script>
            <input type="hidden" id="linkText" th:value="${puzzle.id}" />
            <p>Share your puzzle: <button onclick="copyLink()">Copy Link</button> </p>
            <div id="returnButton">
                <a id="return" href="/index" th:href="@{/}" class="btn btn-small btn-success">Return to Generator</a>
            </div>
        </div>
        <div id="footer">
            <p>made by Summer Rowell &emsp; <a href="https://www.linkedin.com/in/ksrowell/"> <img
                        src=".\images\LI-In-Bug.png" th:src="@{/images/LI-In-Bug.png}" alt="LinkedIn"
                        style="width: 39px; height: 33px;"> </a> </p>
        </div>
    </div>
</body>

</html>