<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Puzzle Messenger</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link th:href="@{/css/style.css}" rel="stylesheet"></link>
        <!-- <link rel="stylesheet" type="text/css" media="all" th:href="../static/css/style.css" /> -->

    </head>

    <body>
        <p>Welcome to the Puzzle Messenger!</p>

        <form action="#" th:action="@{/puzzle}" th:object="${puzzle}" method="post">
            <p>Message: <input type="text" th:fields="*{message}" /></p>
            <p> <input type="submit" value="Submit" /> </p>
        </form>        
    </body>
</html>